@font-face {
  font-family: 'test-font'; /* Nom personnalisé de la police */
  src: url('./fonts/8-bit-wonder.TTF') format('truetype'); /* Chemin vers le fichier TTF */
  font-weight: normal; /* Poids de la police (normal, bold, etc.) */
  font-style: normal; /* Style de la police (normal, italic, etc.) */
}

html, body, #app {
  height: 100%;
}

.title-font{
  font-family: 'test-font', sans-serif;
}

