@font-face {
  font-family: 'test-font'; /* Nom personnalisé de la police */
  src: url('./fonts/8-bit-wonder.TTF') format('truetype'); /* Chemin vers le fichier TTF */
  font-weight: normal; /* Poids de la police (normal, bold, etc.) */
  font-style: normal; /* Style de la police (normal, italic, etc.) */
}
html, body, #app {
    height: 100%;
}

.title-font{
    font-family: 'test-font', sans-serif;
}
.container-login{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.div-input{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-captcha{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-captcha img{
  width: 20%;
  height: 20%;
}
.div-input-captcha button{
  margin-top: 1rem;
  background-color: rgba(160, 147, 147, 0.47);
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.captcha-game{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.center{
  display: flex;
  justify-content: center;
}

.play{
  width: 50%;
}

.bordere{
  border: 5px solid #c9ab4a;
  border-radius: 2px;
}

.borderbtm{
  border-bottom: 5px solid #c9ab4a;
}
.bordertop{
  border-top: 5px solid #c9ab4a;
}
.gradient{
  background:#ecebc0 }

nav{
  display: flex-end;
}
.e{
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
}
.e visited{
  text-decoration: none;
}
nav a{
  border: 1px black solid;
  color:  white;
  background-color: black;
}

.logo{
  width: 20%;
}
#nav-bar{display: flex;}